@import url('https://fonts.googleapis.com/css?family=Orbitron');

#indicator {
    font-family: 'Orbitron', sans-serif;
    display: block;
    padding: 20px;
    background: #565656;
    color: #f59246;
    width: 500px;
    margin: 30px auto;
    text-transform: uppercase;
    border: 2px solid #3f3f3f;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 10px #e1e1e1;
}

.display {
    background: black;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #666666;
}

.display__item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.display__item:first-child {
    margin-top: 0;
}

.clock {
    display: block;
    width: 100px;
    margin: -4px auto 0;
    padding: 5px;
    text-align: center;
    background: black;
    border-radius: 3px;
}